.item {
	margin-right: 0.7vw;
	align-self: center;
	float: left;
}

.selected.shadow, .selected .shadow {
	box-shadow: 0 0 1em black;
}

.item.animated {
	transition: transform 500ms ease-out;
	z-index: 0;
}

.item.selected.animated {
	z-index: 1;
	transform: scale(1.15);
}
