.shellbutton {
	margin: 0px 0px 0px 0px;
	height: 50px;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.shellbutton:not(.tab).spotlight {
	border-bottom: 4px solid;
}

.shellbutton-label {
	font-size: 19pt;
	color: inherit;
	max-width: 152px;
	margin-left: 7px;
	margin-top: 1px;
	font-family: "Oswald-Light";
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.shellbutton.main-menu {
	width: auto;
	margin-left: 30px;
	min-width: 100px;
}

.shellbutton.tab {
	width: 190px;
	min-width: 190px;
	position: relative;
}

.shellbutton.tab > .bar {
	width: 100%;
	height: 4px;
	border-bottom: 4px solid;
	border-color: inherit;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.shellbutton.tab.spotlight > .bar {
	visibility: visible;
}

.inactive .shellbutton.tab:not(.freezed) {
	color: rgba(255, 255, 255, .4);
}

.shellbutton.tab .label-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
	text-align: center;
	height: 45px;
	min-height: 45px;
	max-height: 45px;
	max-width: 190px;
}

.shellbutton-icon.tab {
	display: none;
	max-width: 24px;
}

.spotlight .shellbutton-icon.tab, .freezed .shellbutton-icon.tab {
	display: block;
}

/* SimpleButton */
.simple-button {
	width: 185px;
	height: 30px;
	line-height: 30px;
	margin-top: 7px;
	color: rgb(255, 255, 255);
	background-color: rgba(12, 13, 13, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Oswald-Light';
	font-size: 16px;
	letter-spacing: 0.010em;
	vertical-align: middle;
}

.simple-button.spotlight, .simple-button.fixed {
	width: 100%;
	font-size: 25px;
	height: 41px;
	line-height: 41px;
}

.simple-button.spotlight {
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.simple-button.fixed:not(.spotlight) {
	height: 45px;
}
