.InfoBoxRow {
	padding-left: 22%;
	padding-right: 3%;
}

#InfoBox {
	position: absolute;
	width: 100%;
	height: 23vh;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(29,31,32);
	font-family: 'Oswald-Light';
	color: rgb(158,158,158);
}

#InfoBoxLogo {
	position: absolute;
	left: 4%;
	bottom: 11%;
	width: 15%;
}

#InfoBoxHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(42,43,44);
	height: 26%;
	flex-shrink: 0;
	font-size: 1.8rem;
}

#InfoBoxHeaderTitle {
	width: 89%;
	margin-right: 2%;
}

#InfoBoxProgress {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 1%;
	font-size: 1.2rem;
}

#InfoBoxProgressBar {
	background-color: rgb(42,43,44);
	height: 1.5vh;
	flex-grow: 1;
	margin-left: 1%;
	margin-right: 1%;
}

#InfoBoxProgressBarFill {
	transition: width 1s;
	background-color: rgb(132,205,93);
	height: 100%;
}

#InfoBoxControls {
	display: flex;
	align-items: center;
	height: 74%;
}

#InfoBoxButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 30%;
}

#InfoBoxButtons > img {
	-webkit-filter: invert(60%);
	outline: none;
	width: 16.32%;
}

#InfoBoxButtons > img:focus {
	-webkit-filter: none;
}

#InfoBoxBtn_subt {
	margin-left: 10%;
}
